---
import CtaSection from '../components/home/CtaSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import Hero from '../components/home/Hero.astro';
import LatestArticlesSection from '../components/home/LatestArticlesSection.astro';
import Nav from '../components/home/Nav.astro';
import Services from '../components/home/Services.astro';
import StatsSection from '../components/home/StatsSection.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout
  title="Cecilia Home Design | 专业住宅设计与工程服务"
  description="Cecilia Home Design 是加州领先的建筑设计公司，专注于定制住宅设计、结构工程和房屋翻新。为加州地区提供专业的住宅设计服务。"
  image="/hero.jpg"
  type="organization"
>
	<Nav />
  <main>
    <Hero />
    <StatsSection />
    <FeaturesSection />
    <Services />
    <Testimonials />
    <LatestArticlesSection />
    <CtaSection />
  </main>
</Layout>
